@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.father_background {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #4C3D74;
    max-width: 1440px;
    height: 800px;
}

.nav_content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 200px;
    width: 1440px;
}

.nav_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

.name_logo_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 139px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

.name_logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

nav {
    display: flex;
    margin-left: 500px;
    column-gap: 40px;
}

.nav_item a {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.nav_item:hover {
    transform: scale(1.3);
    border: 1px solid white;
    border-radius: 5px;
}